*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('i2.jpg') no-repeat center;
    background-size: cover;
    font-family: sans-serif;
}

.login-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px black;
    /* pointer-events: none; */
}

.form::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.08);
    /* transform: skew(-20deg); */
    border-radius: 10px;
    pointer-events: none;
}
.form img{
    position: relative;
    top: -50px;
    left: 100px;
    left: calc(50% -50px);
    width: 100px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 50%;
}

.form h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: rgba(238, 95, 29, 0.897);
}

.form .input-group{
    position: relative;
}

.form .input-group input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    /* color: inherit; */
}
.form .input-group label{
    position: absolute;
    top: -20px;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    transition: .3s ease-out;
    /* pointer-events: none; */
}

.form .input-group input:focus + label{
    transform: translateY(-18px);
    color: rgba(238, 95, 29, 0.897);
}
.submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: rgba(238, 95, 29, 0.897);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.forgot-pw{
    color: inherit;
}

#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: white;
    opacity: 0;
    transition: 0.6s;
}
#forgot-pw:target{
    height: 100%;
    opacity: 1;
}

.close{
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

 span{
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 25%;
    cursor: pointer;
}

.fa{
    font-size: 20px;
    color: #7a797e;
}